<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--appSettings节点主要用于配置一些网站的应用配置信息-->
  <!--主要用来存储Asp.net应用程序的一些配置信息，比如上传文件的保存路径等-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--system.web主要配置网站运行时的一些配置-->
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
  <system.serviceModel>
    <services>
      <service name="CCDServer.Service">
        <endpoint address="" binding="basicHttpBinding" contract="CCDServer.IService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CCDServer/Service1/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
          以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!--connectionStrings节点主要用于配置网站的数据库连接字符串信息-->
  <!--主要用于配置数据库连接的，我们可以在
    节点中增加任意个节点来保存数据库连接字符串，以后再代码中通过代码的方法动态获取节点的值来实例化数据库连接对象，
    这样更改数据库仅仅需要更改一下配置文件即可-->
  <connectionStrings>
    <!--mssql连接字符串-->
    <add name="connstr" connectionString="server=10.197.3.101;uid=sa;pwd=123456;database=CCD;Connection Timeout=3"/>
    <!--mysql连接字符串-->
    <!--<add name="connstr" connectionString="server=10.197.3.201;uid=swdroot;pwd=123456;database=ccd;" />-->
  </connectionStrings>
</configuration>

<!--https://www.cnblogs.com/zxtceq/p/5461978.html-->
<!--配置文件节点说明-->
